#page
	h1
		a(href='/') Turf
	#plainContent
		.inner(style='padding-right: 50px;')
			h2 About turf
			p 
				strong Turf is a geo-social warfare app, where you stake a claim to your territory, and fend off those that try claim it for themselves.
			p I had high hopes for  <strong>turf</strong>, perhaps too high for what could be accomplished in 48 hours by one guy that was only just learning to use node.js. Oh well. I enjoyed it and learned a shit-load - which was kinda the point.
			h3 What is <em>Does</em> do
			p As of 45 minutes to the Node Knockout finish time, turf, lets users sign up using twitter, and allows them to tag their current location using a compatible device (that supports geolocation). 
			p When a user claims an area as their own, it removes all previous claims within a certain radius. (0.002 as far as MongoDB maxDistance is concerned, but roughly 100 meters to us mere humans)
			p The users areas or "turf" is marked <span style="color: blue;">blue</span>, while competing users turf are all <span style="color: red;">red</span>.
			h3 If only
			p At the time of having to decide what to leave out so that the app was actually functional at dealine time, the following was left out - to my great dismay:
			ul
				li 
					p <strong>Factions</strong> The ability for users to band together and stake claim to their collective turf
				li
					p Proper area detection, circles on a map dont cut it, I learnt about ConvexHulls and such like, and was getting super excited about it, but unfortunately trhat code is sitting in there commented out waiting for Node Knockout to be done so I can finish it
				li
					p <strong>Twitter Bot</strong> the last feature i tried to squeeze in was a twitter bot, that mentioned a user when they claimed an area belonging to another user, I had it working but a weird bug 1 hour before cutoff made me comment it out for fear if it breaking the app during judging.
				li
					p User pages are missing, I basically didnt have time.
				li
					p Design / Front-end UI, I would have loved to have spent the whole 48 hours doing just the design and UI, but as a one man team on a node project I had to code, and leave to UI till later.

			p Node knockout was great, stressful but great. Thanks for checking out my app.