h1
	a(href='/') #{title}
#map
#content
	.inner
		#leftCol
			h2 Welcome to turf
			iframe(src="http://nodeknockout.com/iframe/nodule", frameborder="0", scrolling="no", allowtransparency="true", width="115", height="25")
			p Turf is a geo-social warfare app, where you stake a claim to your territory, and fend off those that try claim it for themselves.


			- if (user)
				#user
					p Welcome #{user.twitter.name}
					a#twLogout(href="/bye") Log Out
			- else
				p
					a#twSignin(href="/auth/twitter") Login with twitter

			ul#links
				li 
					a(href="/about") About
					a(href="/contact") Contact
		#rightCol
			
script(src='https://raw.github.com/christopherdebeer/ConvexHull/master/convex_hull.js')
script(src='/javascripts/turf.js')
script(type='text/javascript')
	turf.points = !{tags};
	turf.user = !{userObj};