h1
	a(href='/') #{title}
#map
#content
	.inner
		#leftCol
			h2 Welcome to turf
			p Turf is a geo-social warfare app, where you stake a claim to your territory, and fend off those that try claim it for themselves.


			- if (user.twitter)
				#user
					img(src:'#{user.twitter.avatarUrl}')
					p Welcome #{user.twitter.name}
			- else
				p
					a#twSignin(href="/auth/twitter") Login with twitter

			ul#links
				li 
					a(href="/about") About
					a(href="/contact") Contact
		#rightCol
			
script(src='https://raw.github.com/christopherdebeer/ConvexHull/master/convex_hull.js')
script(src='/javascripts/turf.js')
script(type='text/javascript')
	turf.points = !{tags};