!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/fonts.css')
    script(src='/javascripts/jquery-1.6.2.min.js')
    script(src='/javascripts/modernizr.custom.min.js')
    script(src='http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=true')
  body!= body