!!! 5
html
  head
    title= title
    meta (name="viewport",content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0")
    meta (name="apple-mobile-web-app-capable",content="yes")
    meta (name="apple-mobile-web-app-status-bar-style", content="black")
    link (r)el="apple-touch-icon", href="/images/avatar.gif")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/fonts.css')
    script(src='/javascripts/jquery-1.6.2.min.js')
    script(src='/javascripts/modernizr.custom.min.js')
    script(src='http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=true')
  body!= body