html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

h1 {
	text-indent: -9999px;
	margin:0;
	height:118px;
	width:212px;
	background: url("/images/turf-logo-shadow.png") top left no-repeat transparent;
	font-family: "ChunkFiveRegular", sans-serif;
	color: #000;
	position: absolute;
	top:20px;
	left:20px;
	z-index: 1;
	a { 
		text-decoration: none; 
		color: #000; 
		display: block; 
		height:118px;
	}

}

#map {
	width:100%;
	height:60%;
	z-index: 0;
}

#content {
	background: url("/images/shadow.png") top left repeat-x transparent;
	display: block;
	width: 100%;
	position: absolute;
	top: 55%;
	z-index: 1;
	.inner {
		margin: 35px 20px 20px;
		display: block;
		#leftCol {
			width: 300px;
			display:inline;
			float:left;
			margin-right: 100px;
		}
		#rightCol {
			display: inline;
		    margin-left: 50px;
		    padding-top: 103px;
		    overflow: auto;
			p {
				overflow: auto;
				margin: 0 0 20px;
				a {
					background-color: #333333;
				    color: #FFFFFF;
				    display: block;
				    float: left;
				    height: 20px;
				    margin: 10px;
				    padding: 10px;
				    text-align: center;
				    text-decoration: none;
				    width: 200px;
				}
			}
		}

	}
}


#twSignin {
	display:block;
	background: url("/images/twitter-button.gif") top left no-repeat transparent;
	text-indent :-1000em;
	height: 43px;
	width: 250px;
	border: 0 none;
}

#plainContent {
	.inner {
		background-color: #fff;
		padding-left: 35px;
		overflow: auto;
		margin-top: 20px;
	}
	margin-top: 128px;	
	padding-top: 20px;
	background: url("/images/shadow.png") top left repeat-x transparent;
	#users {
		margin:0;
		padding:0;
		li {
			width: 440px;
			float: left;
		}
	}
}

.user, #user {
	display: block;
	list-style: none;
	margin-bottom: 20px;
	overflow: auto;
	img {
		float:left;
		margin-right: 20px;
	}
	span {
		display: block;
	}
	.faction {
		color: #333;
	}
	.since {
		font-size: .8em;
		color: #333;
	}
}

#page {
	background: url("/images/fake-map.jpg") top left transparent no-repeat;
	display: block;
    overflow: auto;
}