html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

h1 {
  text-indent: -9999px;
  margin: 0;
  height: 118px;
  width: 212px;
  background: url("/images/turf-logo-shadow.png") top left no-repeat transparent;
  font-family: "ChunkFiveRegular", sans-serif;
  color: #000;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1; }
  h1 a {
    text-decoration: none;
    color: #000;
    display: block;
    height: 118px; }

#map {
  width: 100%;
  height: 60%;
  z-index: 0; }

#content {
  background: url("/images/shadow.png") top left repeat-x transparent;
  display: block;
  width: 100%;
  position: absolute;
  top: 55%;
  z-index: 1; }
  #content .inner {
    margin: 35px 20px 20px;
    display: block; }
    #content .inner #leftCol {
      width: 300px;
      display: inline;
      float: left; }
    #content .inner #rightCol {
      width: 300px;
      display: inline;
      float: left; }

#twSignin {
  display: block;
  background: url("/images/twitter-button.gif") top left no-repeat transparent;
  text-indent: -1000em;
  height: 43px;
  width: 250px;
  border: 0 none; }

#users {
  margin-top: 200px;
  margin-left: 50px;
  padding: 0; }
  #users li {
    list-style: none; }
    #users li img {
      float: left; }
    #users li .username, #users li .since {
      display: block; }
    #users li .since {
      font-size: .8em;
      color: #333; }
